
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    height: 12rem;
    align-items: center;
    font-size: 1.9rem;
}

.nav_bg{
    content: " ";
    border-top: 1px solid #ddd;
    background-color: #fff;
    width: calc(100vw + 14rem);
    left: 50%;
    transform: translateX(-50%);
    height: 55%;
    position: absolute;
    top:12rem;
    z-index: 999;
    box-sizing: border-box;
    /* display: none; */
    
}

.gnb{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.header_models{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.header_models li{
    margin-right: 2rem;
}

.dep_2{
    width: 80vw;
    height: 55%;
    display: flex;
    justify-content :space-evenly;
    align-items: center;
    z-index: 9999;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12rem;
    /* display: none; */
}

.dep_2 .img_box img{
    width: 100%;
}

.second_box .car_name{
    font-size: 4rem;
    font-weight: bold;
    display: inline-block;
}

.second_box li{
    border-top: 1px solid #ddd;
    padding: 1rem 0;
}

.second_box .line{
    border-bottom: 1px solid #ddd;
}

.third_box{
    text-align: left;
}

.model_list li{
    border: 1px solid #000;
    padding: 1.5rem 7rem 1.5rem 2rem;
    margin: 1rem 0;

}
.gnb_right{
    width: 40%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: auto;
}

.header_models a{
    display: block;
}

.logo{
    width: 14rem;
    height: 15rem;
    text-indent: -999px;
    z-index: 9999;

}

.logo a{
    display: block;
    border: 1px solid #ddd;
    width: 14rem;
    height: 15rem;
    background: url(../../img/index/logo.jpg) #fff center no-repeat;
} 

.gnb_menu{
    font-size: 2rem;
}

/* moreBox*/

.more_box h3{
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.more_box{
    line-height: 2.5;
}

.more_box .dep_2 li ul li:hover{
    color: red;
    transition: all ease 0.8s 0s;
}

