/* css reseat */
.main, .header{
    padding: 0 10rem;
}


/* header */

.logo{
    width: 12rem;
    height: 7rem;
    text-indent: -999px;
    margin:auto
}

.logo a{
    display: block;
    width: 12rem;
    height: 7rem;
    background: url(../../../img/join/logo.jpg) no-repeat;
} 

.number{
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background-color: red;
    text-align: center;
}

.top_txt{
    padding: 3rem 0;
}

.top_txt h2{
    font-size: 5rem;
}

.top_txt p{
    font-size: 2rem;
}

/* form */

.txt{
    padding: 1.5rem 0;
}

.txt label{
    display: block;
    padding-bottom: 0.5rem;
}

.txt input, .txt select{
    display: block;
    height: 4rem;
}

.form_group .gender, .form_group .u_name{
    width: 40%;
}

.form_group .email{
    width: 100%;
}

.chk_wrap{
    padding: 2rem 0;
}

.chk_wrap div{
    padding-bottom: 1rem;
}

.submit_btn{
    background-color: red;
    padding: 1rem;
    border: 1px solid #eee;
    color: #fff;
}

