/* 태블릿 */
@media screen and (min-width:769px)and (max-width:1024px){
    .containerwrap{
        padding: 0 6rem;
    }
}

/* 모바일 */
@media screen and (min-width:360px)and (max-width:768px){
    .containerwrap{
        padding: 0 3rem !important;
    }

    .title{
        font-size: 3rem !important;
    }
}



/* header */

/* */
@media screen and (min-width:1023px)and (max-width:1360px){
    /* .gnb_right .shop, .gnb_right .myPorsche, .gnb_right .searchCenter, .gnb_right .more_box {
        display: none;
    } */

    .gnb_menu{
        font-size: 1.5rem;
    }

    .header_models li{
        margin-right: 0rem;
    }

    .header{
        padding: 0 2rem !important;
    }
}

/* 태블릿 */
@media screen and (min-width:769px)and (max-width:1024px){
    .header_models, .gnb_right .shop, .gnb_right .myPorsche, .gnb_right .searchCenter, .gnb_right .more_box {
        display: none;
    }

    .menu{
        display: block;
        position: absolute;
        right: 6rem;
    }

    /* .header_models{
        width: 100vw;
    } */

    /* .nav_bg{
        content: " ";
        border-top: 1px solid #ddd;
        background-color: #fff;
        width: 100vw;
        height: 100vw;
        position: absolute;
        z-index: 999;
        box-sizing: border-box;
    } */

    /* .header_models li {
        display: grid;
        position:absolute;
        z-index: 99999;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
    } */

}

/* 모바일 */
@media screen and (min-width:360px)and (max-width:768px){
    .header_models, .gnb_right .shop, .gnb_right .myPorsche, .gnb_right .searchCenter, .gnb_right .more_box {
        display: none;
    }
    
    .header{
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;
        height: 7rem;
    }

    .logo{
        width: 10rem;
        height: 12rem;
    }
    
    .logo a{
        width: 10rem;
        height: 12rem;
        background: url(../../img/index/logo.jpg) #fff center cover no-repeat;
    } 

    .menu{
        display: block;
        position: absolute;
        right: 3rem;
        
    }
}

/* mainbanner */
/* 태블릿 */
@media screen and (min-width:769px)and (max-width:1024px){
    .mainBanner .banner_txt :nth-child(1){
        font-size: 5rem;
    }
    
    .mainBanner .banner_txt :nth-child(2){
        font-size: 2rem;
        left: 3rem;
    }

    .mainBanner .banner_txt{
        padding-left: 0rem;
    }
    

}

/* 모바일 */
@media screen and (min-width:360px)and (max-width:768px){
    .mainBanner .banner_txt :nth-child(1){
        font-size: 3rem;
    }
    
    .mainBanner .banner_txt :nth-child(2){
        font-size: 2rem;
        margin-left: 2rem;
    }

    .mainBanner .banner_txt{
        margin-left: -7rem;
    }

}



/* models */

/* 태블릿 */
@media screen and (min-width:769px)and (max-width:1024px){
    
    .model_wrap{
        grid-template-columns: 1fr 1fr;
    }
}

/* 모바일 */
@media screen and (min-width:360px)and (max-width:768px){
    .model_wrap{
        grid-template-columns: 1fr 1fr;
    }

    .link_top .price, .link_bottom{
        display: none;
    }

    .model_box .img_box:hover .name{
        color: red;
        transition: all ease 0.8s 0s;
    }
}

/* performance */

/* 태블릿 */
@media screen and (min-width:769px)and (max-width:1024px){
    
    .performance{
        display: none;
    }
}

/* 모바일 */
@media screen and (min-width:360px)and (max-width:768px){
    .performance{
        display: none;
    }
}



/* shopping tool */

/* 태블릿 */
@media screen and (min-width:769px)and (max-width:1024px){
    .tool_4{
        display: none;
    }

    .tools_box{
        grid-template-columns: 2fr 1fr 1fr;
    }

}

/* 모바일 */
@media screen and (min-width:360px)and (max-width:768px){
    .tool_4{
        display: none;
    }
    
    .tools_box{
        grid-template-columns: repeat(auto-fit, 50%);
    }
    
    .tool_1{
        grid-column-start: 1;
        grid-column-end: 5;
    }
}


/* discover */

/* 태블릿 */
@media screen and (min-width:769px)and (max-width:1024px){
    .discover_wrap li:nth-child(3), .discover_wrap li:nth-child(4){
        display: none;
    }

    .discover_wrap{
        grid-template-columns: 1fr 1fr;
    }

}

/* 모바일 */
@media screen and (min-width:360px)and (max-width:768px){


}

