/* 태블릿 */
@media screen and (min-width:769px)and (max-width:1024px){
    .main, .header{
        padding: 0 5.8rem;
    }
    
    .join_form{
        width: 100%;
    }
}    

/* 모바일 */
@media screen and (min-width:360px)and (max-width:768px){
    .main, .header{
        padding: 0 3rem;
    }
    
    .join_form{
        width: 100%;
    }

    .form_group .gender{
        width: 100%;
    }
}    


/* join 2step */ 

/* 태블릿 */
@media screen and (min-width:769px)and (max-width:1024px){
    .top_txt h2 {
        font-size: 4rem;
        margin: 5rem 0;
    }
    
    .top_txt .txt {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
}    

/* 모바일 */
@media screen and (min-width:360px)and (max-width:768px){
    .top_txt h2 {
        font-size: 2rem;
        margin: 3rem 0;
    }
    
    .top_txt .txt, .top_txt .try_txt {
        font-size: 1.5rem;
    }
}    

/* join finish */


/* 모바일 */
@media screen and (min-width:360px)and (max-width:768px){
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 3rem;
    }
}   